body {
    background-color: var(--color-neutral);
}

/*HERO*/
.hero {
    display: flex;
}

.box-text-hero {
    margin-top: 150px;
    max-width: 591px;
    height: auto;
    position: relative;
}

.box-text-hero svg {
    position: absolute;
    right: 5.5%;
    top: 9.5%;
    z-index: -1;
}

.box-text-hero p {
    margin-top: 20px;
}

.box-text-hero button {
    margin-top: 38px;
}

.box-text-hero img {
    margin-top: 128px;
}

.img-hero {
    margin-left: 7px;
}

.img-hero img {
    background-size: cover;
}

/*NA MELIS VOCÊ ENCONTRA*/
.melis-differentials {
    margin-top: 40px;
}

.box-differentials {
    margin-top: 24px;
    background-color: var(--color-primary-darker);
    border-radius: 20px;
    padding: 39px 36px 39px 47px;
}

.list-differentials {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.list-differentials li {
    width: 228px;
    height: auto;
    margin-bottom: 4px;
    display: flex;
    align-items: flex-end;
    color: var(--color-white);
    font-weight: 600;
    font-size: 1.8rem;
}

.text-differentials {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0%;
    margin-left: 14px;
}

.text-differentials span {
    width: 77px;
    height: 19.01px;
    margin-bottom: 7px;    
    background-color: var(--color-secondary-darker);
    border-radius: 16.16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.divisor {
    width: 2px;
    height: 77px;
    background-color: var(--color-primary);
    border-radius: 1px;
}

/*CURSOS*/
.courses {
    margin-top: 14.0rem;
}

.cards-cursos {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

/*METODOLOGIA E PRINCÍPIOS*/
.methodology {
    margin-top: 10.0rem;
    display: flex;
    justify-content: space-between;
}

.text-methodology {
    max-width: 476px;
    height: auto;
    margin-top: 73px;
}

.text-methodology p {
    margin-top: 2.4rem;
    margin-bottom: 4.1rem;
}

.img-methodology {
    margin-right: -30px;
}

/*DEPOIMENTOS*/
.depoimentos {
    margin-top: 17.3rem;
    padding: 11.1rem 0 5.6rem 0;
    background-color: var(--color-primary-darker);
}

.depoimentos h2 {
    max-width: 564px;
    color: var(--color-white);
}

.slider-details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: auto;
    margin-top: 24px;
    margin-bottom: 11.7rem;
    float: right;
}

.swiper-button-next:after,
.swiper-rtl
.swiper-button-prev:after {
    content: 'next';
    font-size: 10px;
}

.swiper-button-prev:after,
.swiper-rtl
.swiper-button-next:after {
    content: 'prev';
    font-size: 10px;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--color-white);
    color: var(--color-secondary);
    font-weight: bold;
    border-radius: 50%;
    top: auto;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    color: var(--color-gray-30);
    cursor: auto;
    pointer-events: none;
}


.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    position: relative;
    float: right;
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: var(--color-white);
    top: 50%;
}

.swiper-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet{
    margin: 0;
}

  .swiper-pagination-bullet {
    font-family: 'Montserrat', sans-serif; 
    width: 32px;
    height: 32px;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    background-color: var(--color-white);
    transition: all .4s linear;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    width: 36px;
    height: 36px;
    color: var(--color-white);
    background: var(--color-secondary);
    transition: all .4s linear;
  }

  /* MENU DO FOOTER */
  footer .menu-footer {
    margin-top: 33px;
    margin-bottom: 38px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  
  footer .menu-footer nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  footer .menu-footer nav .logo {
    width: 241px;
    height: auto;
  }
  
  footer .menu-footer nav ul {
    display: flex;
  }
  
  footer .menu-footer nav ul li {
    margin-right: 24px;
    display: flex;
    cursor: pointer;
  }
  footer .menu-footer nav ul li:last-child {
    margin-right: 0;
  }
  
  footer .menu-footer nav ul li .arrow-down {
    margin-left: 7.25px;
  }
  
  footer .menu-footer nav ul li a {
    font-size: 18px;
    line-height: 130%;
    color: var(--color-gray-60);
  }
  
  /* MENU DROP-DOWN */
  footer .menu-footer .sub-menu-footer {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 127px;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
    left: 40%;
    background: var(--color-white);
    box-shadow: 0px 6px 30px rgba(23, 108, 130, 0.1);
    border-radius: 8px;
    z-index: 99;
  }
  
  footer .menu-footer .sub-menu-footer .submeni-item {
    width: 252px;
    height: 50px;
    display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s linear;
  }
  
  footer .menu-footer .sub-menu-footer .submeni-item .detail {
    width: 4px;
    height: 30px;
    background-color:transparent;
    border-radius: 8px;
    margin-left: 10px;
    transition: all .4s linear;
  }
  
  footer .menu-footer .sub-menu-footer .submeni-item a {
    font-size: 20px;
    line-height: 130%;
    color: var(--color-gray);
    margin-left: 15px;
    transition: all .4s linear;
  }
  
  footer .menu-footer .sub-menu-footer .submeni-item:hover a {
    font-weight: bold;
  }
  
  footer .menu-footer .sub-menu-footer .submeni-item:hover {
    background: rgba(220, 29, 83, 0.1);
    border-radius: 8px;
  }
  
  footer .menu-footer .sub-menu-footer .submeni-item:hover .detail {
    background-color: #C11345;
  }

  .differentials-slider {
      display: none;
  }

  #dep-principal {
    display: block;
    }
    #dep-mobile {
        display: none;
    }

  @media (max-width: 950px) {
    #dep-principal {
        display: none;
    }

    #dep-mobile {
        display: block;
    }

    .card-depoimentos {
        max-width: 100%;
        margin-top: 24px;
        margin-bottom: 30px;
    }
  }

  @media (max-width: 800px) {
    /**/
    .box-differentials {
        display: none;
    }

    .differentials-slider {
        display: block;
    }

    .slider-details {
        width: 200px;
    }

    .differentials-slider .swiper-wrapper .swiper-slide-dif {
        width: 100%;
        height: auto;
        background-color: var(--color-primary-darker);
        border-radius: 18px;
        padding: 29px 45px;
        margin-top: 20px;
    }

    .differentials-slider .mySwiper2 {
        position: relative;
    }

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: none;
        transform: none;
        white-space: none;
    }

    .differentials-slider .swiper-pagination-dif {
        position: absolute;
        /*z-index: 99;*/
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0;
        background-color: white;
    }

    .swiper-pagination-bullets {
        margin-top: -20px !important;
    }

    

    .differentials-slider .swiper-slide .slider-box {
        width: 100%;
        height: 134px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        font-weight: 600;
        font-size: 1.8rem;
    }

    .differentials-slider .swiper-slide .slider-box .text-differentials {
        height: auto;
    }

    .differentials-slider .swiper-slide .slider-box .text-differentials spab {
        margin-bottom: 0;
    }
  }

  @media (max-width: 740px) {

    footer .menu-footer nav {
        flex-direction: column;
    }

    footer .menu-footer nav ul {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    footer .menu-footer nav a.btn {
        width: 100%;
    }
  }


  /*SITE RESPONSIVO MOBILE*/

  @media (max-width: 740px) {

    /*HERO*/
    .hero {
        margin-top: 16px;
        display: flex;
        flex-direction: column-reverse;
    }

    .hero svg {
        display: none;
    }

    .box-text-hero {
        margin-top: 33px;
    }
    
    .box-text-hero button {
        margin-top: 30px;
    }

    .box-text-hero img {
        display: none;
    }


    /*NA MELIS VOCÊ ENCONTRA*/
    .melis-differentials {
        margin-top: 80px;
    }

    /*CARDS CURSOS*/
    .cards-cursos {
        display: flex;
        flex-direction: column;
    }

    .card-cursos {
        width: 100%;
        margin-bottom: 24px;
    }

    /*METODOLOGIAS E PRINCIPIOS*/
    
    .methodology {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }

    .text-methodology {
        margin-top: 0px;
    }

    .img-methodology {
        width: 100%;
        margin-top: 40px;
    }

    /*DEPOIMENTOS*/
    .depoimentos {
        margin-top: 110px;
    }

    .depoimentos h2 {
        margin: 0 16px;
        font-size: 24px;
    }

  }